@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg--color: rgb(228, 90, 136);
  --light-dark-bg: rgba(21, 21, 21, 0.059);
}

body {
  background-color: var(--bg--color);
  font-family: 'Lato', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* ===================== HEADER SECTION ============================ */

header {
  color: white;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: var(--light-dark-bg);
}

.icon {
  font-size: 1.5rem;
  font-weight: bolder;
}

.block1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.year {
  font-size: 1.2rem;
  font-weight: 700;
}

.title {
  color: rgb(193, 180, 180);
  font-weight: 500;
}

.block3 {
  display: flex;
  gap: 1rem;
}

/* ======================= SEARCH COMPONENT ======================= */

.searchContainer {
  display: flex;
  background-color: var(--light-dark-bg);
}

input {
  flex: 1;
  padding: 1rem;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}

input::placeholder {
  color: white;
}

/* MOST SERACH COMPONENT */
.mostSearchContainer {
  display: flex;
  color: white;
  padding: 1rem;
  gap: 1rem;
}

.flag {
  width: 10rem;
}

.searchStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.country {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.nbViews {
  font-size: 0.7rem;
}
